* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color:darkblue;
}

body {
    background-image: url("https://media.istockphoto.com/id/1201252148/photo/butterflies.jpg?s=612x612&w=0&k=20&c=p8gc2ZTDkJCRsI9r2yHGD2Py4LSv7vznpJs0N-H3qRI=");
    background-repeat: no-repeat;
    background-size: cover;
}

.container1 {
    height: 450px;
    width: 650px;
    margin: 50px auto;
    box-shadow: 5px -5px 15px rgb(60, 97, 156);
    position: relative;
    overflow: hidden;
}

.container1 img {
    height: inherit;
    width: inherit;
    transition: all 1s;
}

.container2 {
    height: 450px;
    width: 650px;
    margin: 50px auto;
    box-shadow: 5px -5px 15px rgb(153, 61, 135);
    position: relative;
    overflow: hidden;
}

.container2 img {
    height: inherit;
    width: inherit;
    transition: all 1s;
}

.container3 {
    height: 450px;
    width: 650px;
    margin: 50px auto;
    box-shadow: 5px -5px 15px rgb(177, 190, 86);
    position: relative;
    overflow: hidden;
}

.container3 img {
    height: inherit;
    width: inherit;
    transition: all 1s;
}

.container4 {
    height: 450px;
    width: 650px;
    margin: 50px auto;
    box-shadow: 5px -5px 15px rgb(167, 73, 95);
    position: relative;
    overflow: hidden;
}

.container4 img {
    height: inherit;
    width: inherit;
    transition: all 1s;
}

.container5 {
    height: 450px;
    width: 650px;
    margin: 50px auto;
    box-shadow: 5px -5px 15px black;
    position: relative;
    overflow: hidden;
}

.container5 img {
    height: inherit;
    width: inherit;
    transition: all 1s;
}

.container1 .text1 {
    position: absolute;
    top: 0;
    left: -100%; 
    color: rgb(143, 231, 129);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    height: 100%;
    padding: 10px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.3);
    transform: perspective(400px) rotateY(90deg); /* Start with text rotated */
    transform-origin: right;
    transition: all 1s ease; 
}

.container1:hover .text1 {
    left: 0; 
    transform: perspective(400px) rotateY(0deg); 
}

.container2 .text2 {
    position: absolute;
    top: 0;
    right: -100%; 
    color: rgb(212, 250, 248);
    font-family:Arial, Helvetica, sans-serif;
    width: 50%;
    height: 100%;
    padding: 10px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.3);
    transform: perspective(400px) rotateY(90deg); /* Start with text rotated */
    transform-origin: right;
    transition: all 1s ease; 
}

.container2:hover .text2 {
    right: 0; 
    transform: perspective(400px) rotateY(0deg); 
}

.container3 .text3 {
    position: absolute;
    top: 0;
    right: -100%; 
    color: rgb(117, 222, 218);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 100%;
    padding: 10px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.3);
    transform: perspective(400px) rotateY(90deg); /* Start with text rotated */
    transform-origin: right;
    transition: all 1s ease; 
}

.container3:hover .text3 {
    right: 0; 
    transform: perspective(400px) rotateY(0deg); 
}

.container4 .text4 {
    position: absolute;
    bottom: 0;
    top: -100%; 
    color: rgb(239, 218, 236);
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 50%;
    height: 100%;
    padding: 10px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.3);
    transform: perspective(400px) rotateY(90deg); /* Start with text rotated */
    transform-origin: right;
    transition: all 1s ease; 
}

.container4:hover .text4 {
    top: 0; 
    transform: perspective(400px) rotateY(0deg); 
}

.container5 .text5 {
    position: absolute;
    top: 0;
    bottom: -100%; 
    color: rgb(206, 212, 95);
    font-family:sans-serif;
    width: 50%;
    height: 100%;
    padding: 10px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.3);
    transform: perspective(400px) rotateY(90deg); /* Start with text rotated */
    transform-origin: right;
    transition: all 1s ease; 
}

.container5:hover .text5 {
    bottom: 0; 
    transform: perspective(400px) rotateY(0deg); 
}





.container1:hover img {
    transform: scale(1.5, 1.5); 
}

.container2:hover img {
    transform: scale(1.5, 1.5); 
}

.container3:hover img {
    transform: scale(1.5, 1.5); 
}

.container4:hover img {
    transform: scale(1.5, 1.5); 
}

.container5:hover img {
    transform: scale(1.5, 1.5); 
}